/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #e0e0e0;
    color: #333;
}

/* Header Styling */
header {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 2rem;
}


.container {
    max-width: 1170px;
    margin: 40px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap; 
}

/* Card Styling */
.card {
    background-color: #FF6347;
    color: white;
    width: 250px;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, background-color 0.3s;
}

.card:hover {
    transform: translateY(-10px); 
    background-color: #FF4500;
}

/* Footer Styling */
footer {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
